<div class="list-group">
    <a href="/Admin/Product" class="list-group-item">Product</a>
    <a href="/Admin/Categories" class="list-group-item">Categories</a>
    <a href="/Admin/Status" class="list-group-item">Status</a>
</div>
