@model List<shoppingcart.Models.Order>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.status</td>
            </tr>
        }
    </tbody>
</table>