@model IEnumerable<shoppingcart.Models.Product>

@{
    ViewBag.Title = "Index";
}


<div class="row">

    <div class="col col-sm-4 well">
        <a href="/Products/Index" class="text-center">Products</a>
    </div>
    <div class="col col-sm-4 well">
        <a href="/Category/Index" class="text-center">Categories</a>
    </div>

</div>